extends layout

block content

  h1 #{post.title}

  p#cont #[strong Content: ] #{post.content}

  if (user.status === "member" || user.status === "admin")
    p #[strong By: ]
        a(href=post.author.url) #{post.author.username}

    p#time #{post.ago}

  if user.status === "admin"
      p
        a#del(href=post.url+'/delete') Delete post
