extends layout

block content

  h1= title

  p #{quser.firstName} #{quser.lastName}

  ul#grid
    each post in user_posts
      li.grid-items
        p#post-title
          a(href=post.url) #{post.title}
            
        p #{post.content.slice(0,100)}

        p#time #{post.ago}

    else
      p This user has no posts

  if user.status === "admin"
    if quser.status !== "admin"
      p
        a(href=quser.url+'/delete') Delete User